.root {
    padding: 100px;
    text-align: center;
    max-width: 750px;
    margin: 0 auto; 
    
    @media (max-width: 550px) {
      padding: 100px;
    }

    span {
        font-size: 64px;
    }

    .description {
        font-size: 22px;
    }
}